body{
	border-style: ridge;
}
img {
	border: 0;
}
a {
	color: #00004d;
	font-size: 21px;
	text-decoration: none;
}
.blog_main a {
	color:blue;
}
h2{
	font-size:29px;
	font-weight: bold;
}
blog_hed{
	  font-size: 32px;
}
p{
	font-size:21px;
}

.blog_main{
	margin: 0 auto;
	width: 980px;
}

a:hover{color: #1a1aff;}

#body {
	margin: 0 auto;
	width: 1000px;
}

#body div#home, 
#body .recent_blog,
#body .blog_main,#body .Related_courses  {
	padding: 30px 10px 0;
	overflow: hidden;
	display:flex;
}


#body div#home div.content,
#body div#contact div.content {
	float: left;
	width: 570px;
}
#body div#home div.content div {
	padding: 18px 0 0;
}
#body div#home div.content div:first-child {

	padding: 0 0 35px;
}
#body div#home div.content div ul.services {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body div#home div.content div ul.services li {
	float: left;
	margin: 0 20px 35px;
	width: 230px;
}
#body div#home div.content div ul.services li p {
	letter-spacing: 0.025em;
}
#body div#home div.content div ul.services li img {
	border: 1px solid #000000;
	display: block;
	margin: 0 0 18px;
	filter: alpha(opacity=100);
	opacity: 1;
}
#body div#home div.content div ul.blog {
	letter-spacing: 0.05em;
	list-style: none;
	margin: 0;
	padding: 0 20px 0;
}
#body div#home div.content div ul.blog li {
	display: block;
	margin: 0 0 40px;
	overflow: hidden;
}
#body div#home div.content div ul.blog li span {
	display: block;
	float: left;
	width: 110px;
}


#body div#home div.content div ul.blog li div {
	float: right;
	padding: 0;
	width: 368px;
}


#body div#home div.content div ul.blog li div span.date,
#body div.blog div#article ul li span.date {
	float: none;
	line-height: 24px;
	width: auto;
}



#body div.services h1 {
	font-size: 23px;
	letter-spacing: normal;
	line-height: 50px;
}
#body div.services h1 a {
	color: #000000;
	text-decoration: none;
}
#body div.services h1 a:hover {
	text-decoration: underline;
}
#body div.services div {
	padding: 0 20px;
}

#body div.services div p,
#body div.blog div#article ul li p {
	letter-spacing: 0.05em;
}
#body div.services ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body div.services ul.first {
	margin: 25px 0 0;
}
#body div.services ul.first li {
	border: none;
}
#body div.services ul li {
	border-top: 1px solid #000000;
	float: left;
	margin: 0 0 0 40px;
	padding: 25px 0;
	width: 460px;
}
#body div.services ul li:first-child {
	margin: 0;
}

#body div.blog {
	padding: 50px 0 0;
	overflow: hidden;
}
#body div.blog div#article {
	float: left;
	width: 640px;
}
#body div.blog div#article ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div.blog div#article ul li {
	border-top: 1px solid #000000;
	padding: 30px 20px;
}
#body div.blog div#article ul li:first-child {
	border: none;
	overflow: hidden;
	padding: 0 20px 30px;
}
#body div.blog div#article ul li a img {
	border: 1px solid #000000;
	display: block;
	float: right;
	margin: 30px 0 10px 20px;
	filter: alpha(opacity=100);
	opacity: 1;
}

#body div.blog div#article ul li span.date {
	letter-spacing: 0.05em;
}
#body div.blog div.sidebar {
	float: right;
	width: 280px;
}
#body div.blog div.sidebar div {
	border-top: 1px solid #000000;
	padding: 29px 20px 23px;
}
#body div.blog div.sidebar div:first-child {
	border: none;
	padding: 0 20px 23px;
}
#body div.blog div.sidebar div ul {
	margin: 0;
	padding: 0 0 0 15px;
}
#body div.blog div.sidebar div ul li {
	letter-spacing: 0.075em;
	line-height: 24px;
}
#body div.blog div.sidebar div ul li a {
	color: #636466;
	text-decoration: none;
}
#body div.blog div.sidebar div ul li a:hover {
	color: #636466;
	text-decoration: underline;
}

col-lg-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.mb-3 {
  margin-bottom: 1rem !important; }
.mb-4 {
  margin-bottom: 1.5rem !important; }
  .pl-3 {
  padding-left: 1rem !important; }
  .mb-2{
  margin-bottom: 0.5rem !important; }
  .text-dark {
  color: #212529 !important; }
  a.text-dark:hover, a.text-dark:focus {
  color: #0a0c0d !important; }
  a.text-dark:hover {
  color: #03a87c !important; }
  .card-text:last-child {
  margin-bottom: 0; }
  .text-muted {
  color: #6c757d !important; }
   h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }
  small {
  font-size: 80%; }
  .d-flex {
  display: flex !important; }
  .pl-3{
  padding-left: 1rem !important; }
  
.Related_courses{
	margin:0 auto;
	padding:0;
	width:90%;
}
  @media(max-width:1140px){
	#body{
		width:100%;
	}
	.blog_main{
		width:100%;
	}
.col-lg-6{
	width:40%;
}
	body{
	border-style: none;
}
	img{
		width:210px;
		
	}
		.Related_courses{
		width:100%
	}
	a{
			font-size:21px;
		text-align:center;
		
	}
  }
  @media(max-width:1100px){
#body{
		width:100%;
		
	}
	.blog_main{
		display:100%;
	}
	.col-lg-6{
		display:30%;
	}
		.content_m{
	 width: 100%;
	  overflow-y: auto;
  position: relative;
	}
		.Related_courses{
		width:100%
	}

  }
@media(max-width:720px){
#body{
		width:100%;
		
	}
	.blog_main{
		display:100%;
		position: relative;
		margin:0px;
	}
	.col-lg-6{
		display:none;
	}
		.content_m{
	 width: 100%;
	  overflow-y: auto;
  position: relative;
	}
		.Related_courses{
		width:100%
	}
}
@media(max-width:530px){

	.content_m{
	 width: 100%;
	  overflow-y: auto;
  position: relative;
	}
	.blog_main{
		display:100%;
		position: relative;
		margin:0;
	}
	.col-lg-6{
		display:none;
	}
	.Related_courses{
		width:100%
	}
	body{
	border-style: none;
}
	

}
